.Rproj.user
.Rhistory
.RData
.Ruserdata
data/anatem.dta
.DS_Store
2021/sl2021_players/Search results.xlsx
2021/sl2021_players/data/21-22.xlsx
2021/sl2021_players/data/18-19.xlsx
2021/sl2021_players/data/19-20.xlsx
2021/sl2021_players/data/20-21.xlsx
