.Rproj.user
.Rhistory
.RData
.Ruserdata
data/anatem.dta
.DS_Store
2021/sl2021_players/Search results.xlsx
2021/sl2021_players/data/21-22.xlsx
2021/sl2021_players/data/18-19.xlsx
2021/sl2021_players/data/19-20.xlsx
2021/sl2021_players/data/20-21.xlsx
2021/sl_players/data/18-19.xlsx
2021/sl_players/data/19-20.xlsx
2021/sl_players/data/20-21.xlsx
2021/sl_players/data/21-22.xlsx
2021/italy_pop/1300AD_pop/popc_1300AD.asc
2021/italy_pop/1300AD_pop/popd_1300AD.asc
2021/italy_pop/1300AD_pop/rurc_1300AD.asc
2021/italy_pop/1300AD_pop/uopp_1300AD.asc
2021/italy_pop/1300AD_pop/urbc_1300AD.asc
2021/italy_pop/1400AD_pop/popc_1400AD.asc
2021/italy_pop/1400AD_pop/popd_1400AD.asc
2021/italy_pop/1400AD_pop/rurc_1400AD.asc
2021/italy_pop/1400AD_pop/uopp_1400AD.asc
2021/italy_pop/1400AD_pop/urbc_1400AD.asc
2021/italy_pop/plague_outbreaks.txt
.DS_Store
2021/italy_pop/anatem.dta
2021/brondby/ws_data.xlsx
2021/plague_british/data/1300AD_pop/popc_1300AD.asc
2021/plague_british/data/1300AD_pop/popd_1300AD.asc
2021/plague_british/data/1300AD_pop/rurc_1300AD.asc
2021/plague_british/data/1300AD_pop/uopp_1300AD.asc
2021/plague_british/data/1300AD_pop/urbc_1300AD.asc
2021/plague_british/data/1400AD_pop/popc_1400AD.asc
2021/plague_british/data/1400AD_pop/popd_1400AD.asc
2021/plague_british/data/1400AD_pop/rurc_1400AD.asc
2021/plague_british/data/1400AD_pop/uopp_1400AD.asc
2021/plague_british/data/1400AD_pop/urbc_1400AD.asc
2021/spurs/data/19-20.xlsx
2021/spurs/data/20-21.xlsx
2021/spurs/data/21-22.xlsx
2021/spurs/data/15-16.xlsx
2021/spurs/data/16-17.xlsx
2021/spurs/data/17-18.xlsx
2021/spurs/data/18-19.xlsx
2021/spurs/data/2015-2016.xlsx
2021/spurs/data/2016-2017.xlsx
2021/spurs/data/2017-2018.xlsx
2021/spurs/data/2018-2019.xlsx
2021/spurs/data/2019-2020.xlsx
2021/spurs/data/2020-2021.xlsx
2021/spurs/data/2021-2022.xlsx
2022/netflix/NetflixViewingHistory.csv
2022/ming_routes/data/dataverse_files 2/README_MING_COURIER_2016.txt
2022/ming_routes/data/dataverse_files 2/Ming_Stations_2016/Ming_Stations_2016.shx
2022/ming_routes/data/dataverse_files 2/Ming_Stations_2016/Ming_Stations_2016.shp
2022/ming_routes/data/dataverse_files 2/Ming_Stations_2016/Ming_Stations_2016.qpj
2022/ming_routes/data/dataverse_files 2/Ming_Stations_2016/Ming_Stations_2016.prj
2022/ming_routes/data/dataverse_files 2/Ming_Stations_2016/Ming_Stations_2016.dbf
2022/ming_routes/data/dataverse_files 2/Ming_Routes_2016/Ming_Stations_2016.cpg
2022/ming_routes/data/dataverse_files 2/Ming_Routes_2016/Ming_Routes_2016.shx
2022/ming_routes/data/dataverse_files 2/Ming_Routes_2016/Ming_Routes_2016.shp
2022/ming_routes/data/dataverse_files 2/Ming_Routes_2016/Ming_Routes_2016.qpj
2022/ming_routes/data/dataverse_files 2/Ming_Routes_2016/Ming_Routes_2016.prj
2022/ming_routes/data/dataverse_files 2/Ming_Routes_2016/Ming_Routes_2016.dbf
2022/ming_routes/data/Ming_Routes_2016/Ming_Routes_2016.dbf
2022/ming_routes/data/Ming_Routes_2016/Ming_Routes_2016.prj
2022/ming_routes/data/Ming_Routes_2016/Ming_Routes_2016.qpj
2022/ming_routes/data/Ming_Routes_2016/Ming_Routes_2016.shp
2022/ming_routes/data/Ming_Routes_2016/Ming_Routes_2016.shx
2022/ming_routes/data/Ming_Routes_2016/Ming_Stations_2016.cpg
2022/ming_routes/data/Ming_Stations_2016/Ming_Stations_2016.dbf
2022/ming_routes/data/Ming_Stations_2016/Ming_Stations_2016.prj
2022/ming_routes/data/Ming_Stations_2016/Ming_Stations_2016.qpj
2022/ming_routes/data/Ming_Stations_2016/Ming_Stations_2016.shp
2022/ming_routes/data/Ming_Stations_2016/Ming_Stations_2016.shx
2022/ming_routes/data/ne_10m_coastline/ne_10m_coastline.cpg
2022/ming_routes/data/ne_10m_coastline/ne_10m_coastline.dbf
2022/ming_routes/data/ne_10m_coastline/ne_10m_coastline.prj
2022/ming_routes/data/ne_10m_coastline/ne_10m_coastline.README.html
2022/ming_routes/data/ne_10m_coastline/ne_10m_coastline.shp
2022/ming_routes/data/ne_10m_coastline/ne_10m_coastline.shx
2022/ming_routes/data/ne_10m_coastline/ne_10m_coastline.VERSION.txt
2022/ming_routes/data/README_MING_COURIER_2016.txt
2022/ming_routes/data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.cpg
2022/ming_routes/data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.dbf
2022/ming_routes/data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.prj
2022/ming_routes/data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.README.html
2022/ming_routes/data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.shp
2022/ming_routes/data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.shx
2022/ming_routes/data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.VERSION.txt
2022/ming_routes/gk_cpd.R
