.Rproj.user
.Rhistory
.RData
.Ruserdata
data/anatem.dta
.DS_Store
2021/sl2021_players/Search results.xlsx
2021/sl2021_players/data/21-22.xlsx
2021/sl2021_players/data/18-19.xlsx
2021/sl2021_players/data/19-20.xlsx
2021/sl2021_players/data/20-21.xlsx
2021/sl_players/data/18-19.xlsx
2021/sl_players/data/19-20.xlsx
2021/sl_players/data/20-21.xlsx
2021/sl_players/data/21-22.xlsx
2021/italy_pop/1300AD_pop/popc_1300AD.asc
2021/italy_pop/1300AD_pop/popd_1300AD.asc
2021/italy_pop/1300AD_pop/rurc_1300AD.asc
2021/italy_pop/1300AD_pop/uopp_1300AD.asc
2021/italy_pop/1300AD_pop/urbc_1300AD.asc
2021/italy_pop/1400AD_pop/popc_1400AD.asc
2021/italy_pop/1400AD_pop/popd_1400AD.asc
2021/italy_pop/1400AD_pop/rurc_1400AD.asc
2021/italy_pop/1400AD_pop/uopp_1400AD.asc
2021/italy_pop/1400AD_pop/urbc_1400AD.asc
2021/italy_pop/plague_outbreaks.txt
.DS_Store
2021/italy_pop/anatem.dta
2021/brondby/ws_data.xlsx
2021/plague_british/data/1300AD_pop/popc_1300AD.asc
2021/plague_british/data/1300AD_pop/popd_1300AD.asc
2021/plague_british/data/1300AD_pop/rurc_1300AD.asc
2021/plague_british/data/1300AD_pop/uopp_1300AD.asc
2021/plague_british/data/1300AD_pop/urbc_1300AD.asc
2021/plague_british/data/1400AD_pop/popc_1400AD.asc
2021/plague_british/data/1400AD_pop/popd_1400AD.asc
2021/plague_british/data/1400AD_pop/rurc_1400AD.asc
2021/plague_british/data/1400AD_pop/uopp_1400AD.asc
2021/plague_british/data/1400AD_pop/urbc_1400AD.asc
